{% extends "clarence/layout.html" %}
{% load static %}

{% block body %}
<div id="default-view">
    <h3>Hi I'm Clarence! Tell me about the person you want to get Christmas gifts for!</h3>
    <form class="questionForm" method="post">
        {% csrf_token %}
        <textarea id="questionContent" class="form-control"></textarea>
        <input type="button" id="submitButton" class="btn btn-primary" value="Start Conversation">
    </form>
</div>

<div id="chat-view" class="container">
    <div id="chatBox-background">
        <div id="chatBox"></div>
        <form id="chatForm" class="questionForm" method="post">
            {% csrf_token %}
            <textarea id="messageContent" class="form-control"></textarea>
            <input type="button" id="sendButton" class="btn btn-primary" value="Send">
        </form>
    </div>
</div>
{% endblock%}

{% block script %}
<script src="{% static 'clarence/wishlist.js' %}"></script>
<script src="{% static 'clarence/clarence.js' %}"></script>
{% endblock %}